/* NAVIGATION BAR  */

ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  .navbar {
    background-color: white;
    margin: 0;
    border-bottom: white solid 0.4rem;
    background-image: linear-gradient(to right, white, white, #ecdfa2);
    z-index: 1;
    
  }
  
  .logo1 {
    position: relative;
    height: 60px;
    padding: 0 0.2rem;
    margin: 0;
  }
  .logo2 {
    position: relative;
    width: 60px;
    padding: 0 0.2rem;
    margin: 0;
  }
  
  .navbar-brand1 {
    margin-left: 1rem;
    color: #191e1f;
  }
  
  .header {
    margin: 0;
  }
  
  .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
  }	
  .navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
  }
  
  .navbar .navbar-right li:first-child a {
    padding-right: 30px;
   padding-top: 20px;
  
  }
  .navbar ul li i {
    font-size: 18px;
    margin-bottom: 1rem;
  
  }
  
  .navbar-nav > li{
    padding-left:20px;
    padding-right:10px;
  }
  
  
  .navbar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
  }
  .navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
  }	
  .navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
  }
  
  .navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
  }
  .navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
  }
  .navbar .navbar-form {
    border: none;
  }
  .navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
        font-size: 14px;
  }
  .navbar .dropdown-menu.form-wrapper a {		
    color: #33cabb;
    padding: 0 !important;
  }
  .navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
  }
  .navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
  }
  .navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
        margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
    }	
  .navbar .social-btn .btn-primary {
    background: #507cc0;
  }
  .navbar .social-btn .btn-primary:hover {
    background: #4676bd;
  }
  .navbar .social-btn .btn-info {
    background: #64ccf1;
  }
  .navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
  }
  .navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
  }
  .navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
  }
  .navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
  }
  .navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
  }
  
    .navbar .checkbox-inline {
    font-size: 13px;
  }
  .navbar .navbar-right .dropdown-toggle::after {
    display: none;
  }
  .form-class{
    margin-left: 8px;
  }